@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
header{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 139px;
    background-color: #F5F5F5;
}

.logo--burger h1{
    color: #333333;
    margin:0 10px 0 0;
}
.logo--burger h3{
    color: #EB5757;
}
.logo--burger{
    display: flex;
    align-items: baseline;
}

.barra--pesquisa{
    display: flex;
    position: relative;

    flex-direction: row;
    align-items: center;
    left: 0;
    width: 100%;
}
.barra--pesquisa input{
    width: 382px;
    height: 60px;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    color: #E0E0E0;
}
.barra--pesquisa button{
    width: 107px;
    height: 40px;
    background-color: #27AE60;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    position: relative;
    right: 115px;
}

@media screen and (min-width: 700px) {
    header{
       
        height: 80px;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
    .barra--pesquisa input{
        width: 365px;

    }
    .barra--pesquisa button{
        position: relative;
        right: 118px;
    }
    .barra--pesquisa{
        width: 480px;
        height: 66px;
        position: relative;
        left: 140px;
    
    }
    

}