@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.main--burger{
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
}

@media screen and (min-width: 700px) {

    .main--burger{
        overflow: hidden;
        margin-top: 10px;
        display: block; 
        columns: 3;
    }
}